.Container {
  background-color: white;
  opacity: 1;
  height: 55vh;
  width: 50%;
  border-radius: 5px;
  border: 1px solid transparent;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.EditBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.PositionInput {
  padding: 10px;
  width: 100%;
  
}

.TaskInput {
  padding: 10px;
  width: 100%;
}

button {
  padding: 20px;
  width: 100%;
  background-color: #00cccd;
  color: white;
  font-weight: 900;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}

button:hover{
    background-color: rgb(19, 216, 216);
   
}
