.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 10vh;
}

.InputBox {
  width: 60%;
  border: 1px solid transparent;
  padding: 10px;
  background-color: #f0f0f0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

.AddTaskBtn {
  width: 20%;
  border: 1px solid transparent;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #00cccd;
  color: white;
  font-weight: 900;
  font-size: 0.85em;
  outline: none;
  cursor: pointer;
}

.AddTaskBtn:hover {
  background-color: rgb(19, 216, 216);
}
